{% extends 'base.html' %}

{% block title %}
    Profile | {{user}}
{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-between">
        <div class="d-flex p-3">
            {% if user.profile.image %}
                <div class="square-img rounded-circle my-auto">
                    <img src="{{user.profile.image.url}}" alt="Profile Image">
                </div>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle my-auto" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            {% endif %}
            <h1 class="ms-1 display-3">{{user}}</h1>
        </div>

        {% if user == request.user %}
            <div class="dropdown my-auto me-3">
                <button class="btn btn-dark p-1 pt-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'user:settings' %}">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">
                            Logout
                        </a>
                    </li>
                </ul>
              </div>
        {% else %}
            <a href="{% url 'user:follow' user.id %}" class="btn btn-dark me-4 my-auto">
                {% if request.user in user.profile.followers.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </a>
        {% endif %}

    </div>

    <div class="p-3 text-body-secondary">
        <p class="small my-1">
            {{user.profile.followers.count}}
            <a href="{% url 'user:followers' user.id %}" class="text-decoration-none link-body-emphasis">
                {% if user.profile.followers.count == 1 %}
                    Follower
                {% else %}
                    Followers
                {% endif %}
            </a>
        </p>
        <p class="small my-1">
            {{user.member_groups.count}}
            <a href="{% url 'user:membergroups' user.id %}" class="text-decoration-none link-body-emphasis">
                {% if user.member_groups.count == 1 %}
                    Groups
                {% else %}
                    Groups
                {% endif %}
            </a>
        </p>
        {% if user.admin_groups.count > 0 %}
            <p class="small my-1">
                {{user.admin_groups.count}}
                <a href="{% url 'user:admingroups' user.id %}" class="text-decoration-none link-body-emphasis">
                    {% if user.admin_groups.count == 1 %}
                        Admin Groups
                    {% else %}
                        Admin Groups
                    {% endif %}
                </a>
            </p>
        {% endif %}
        <p class="small my-1">
            {{posts.count}}
            {% if posts.count == 1 %}
                Post
            {% else %}
                Posts
            {% endif %}
        </p>
    </div>

    <p class="p-4 lead">{{user.profile.bio}}</p>

    <div>
        <h1 class="display-4 ps-3">Posts</h1>
        <hr class="my-4">
        {% include 'posts.html' %}
    </div>

{% endblock content %}