<div class="p-3 pb-0">

    <div class="d-flex justify-content-between">
        <div class="d-flex mb-2">
            {% if user.profile.image %}
                <div class="square-img rounded-circle my-auto">
                    <img src="{{user.profile.image.url}}" alt="Profile Image">
                </div>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle my-auto" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            {% endif %}
            <a href="{% url 'user:profile' user %}" class="text-decoration-none link-body-emphasis ms-2">
                <h2 class="m-0">{{user.username}}</h2>
            </a>
        </div>
        {% if request.user in group.admins.all and request.user != user %}
            <div class="dropdown">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-menu">
                    {% if user not in group.admins.all %}
                    <li>
                        <a class="dropdown-item" href="{% url 'group:managemembers' group.id user 0 %}">
                            Promote to Admin
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user == group.creator and user in group.admins.all and user != request.user %}
                        <li>
                            <a class="dropdown-item" href="{% url 'group:managemembers' group.id user 1 %}">
                                Revoke Admin status 
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'group:managemembers' group.id user 2 %}">
                            Remove from group
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'group:managemembers' group.id user 3 %}">
                            Remove and block from group
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

    <p class="small text-secondary mb-0">
        {{user.profile.followers.count}}
        {% if user.profile.followers.count == 1 %}
            Follower
        {% else %}
            Followers
        {% endif %}
    </p>

    <p class="lead p-4">
        {{user.profile.bio}}
    </p>

</div>